// TODO: Apply responsive styling for clock
// TODO: Fix padding

.countdown-cards-container {
  display: block;
  position: relative;
  width: 140px;
  min-width: 11rem;
  height: 120px;
  max-width: 100%;
  margin: 0 1rem;
  // padding: 1.5rem 0.8rem;
  background-color: hsl(233, 23%, 21%);
  border-radius: 0.5rem;
  box-shadow: 0 0.65rem var(--color-neutral-black_blue);
  // overflow: hidden;
  perspective-origin: 50% 50%;
  perspective: 300px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  * {
    background-color: var(--color-neutral-desaturated_blue);
  }

  .countdown-card-upper,
  .countdown-card-lower {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  .countdown-card-upper {
    align-items: flex-end;
  }

  .countdown-card-lower {
    align-items: flex-start;
  }

  .countdown-card {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;

    &.unfold {
      top: 50%;
      align-items: flex-start;
      transform-origin: 50% 0%;
      transform: rotateX(180deg);
      // border: 0.5px solid yellow;
      // border-top: 0.5px solid red;
    }

    &.fold {
      top: 0%;
      align-items: flex-end;
      transform-origin: 50% 100%;
      transform: rotateX(0deg);
      // border: 0.5px solid green;
      // border-bottom: 0.5px solid blue;
    }
  }

  .countdown-card-upper,
  .fold,
  .countdown-card-lower,
  .unfold {
    // padding: 1.5rem 0.8rem;
  }

  .countdown-card-upper,
  .fold {
    width: 100%;
    height: 50%;
    inset: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    span {
      transform: translateY(50%);
    }

    // Circle on the left and right sides
    &::before,
    &::after {
      bottom: -0.5rem;
    }
  }

  .countdown-card-lower,
  .unfold {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-neutral-desaturated_blue);

    span {
      transform: translateY(-50%);
    }

    // Circle on the left and right sides
    &::before,
    &::after {
      top: -0.5rem;
    }
  }

  // Circle on the left and right sides
  .countdown-card-lower,
  .unfold,
  .countdown-card-upper,
  .fold {
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--color-neutral-black_blue);
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      right: -0.5rem;
      z-index: 999;
    }

    &::after {
      left: -0.5rem;
    }
  }

  // Background color for the top cards
  .countdown-card-upper,
  .countdown-card-upper span,
  .fold,
  .fold span {
    background-color: hsl(233, 23%, 21%);
  }

  /********************   ANIMATION (START)   ********************/
  .fold {
    animation: fold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    transform-style: preserve-3d;
  }

  .unfold {
    animation: unfold 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
    transform-style: preserve-3d;
  }

  @keyframes fold {
    0% {
      transform: rotateX(0deg);
    }

    100% {
      transform: rotateX(-180deg);
    }
  }

  @keyframes unfold {
    0% {
      transform: rotateX(180deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }
  /*********************   ANIMATION (END)   *********************/

  span {
    font-size: 6rem;
    color: var(--color-main-soft_red);
    letter-spacing: normal;
  }

  p {
    margin-top: 3rem;
    background: none;
  }
}