.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  z-index: 1;

  a {
    color: var(--color-main-grayish_blue);
    fill: var(--color-main-grayish_blue);
    transition: 3ms;

    &:hover {
      color: var(--color-main-soft_red);
      fill: var(--color-main-soft_red);
    }
  }

  i {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 460px) {
  .social {
    margin-bottom: 2rem;
  }
}
