@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

#root {
  --color-primary-blue: #8586a8; /* Grayish blue */
  --color-primary-red: #fb6087; /* Soft red */
  --color-neutral-white: #ffffff; /* White */
  --color-neutral-blue: #343650; /* Dark desaturated blue */
  --color-neutral-darkBlue: #1e1f29; /* Very dark blue */
  --color-neutral-blackBlue: #191a24; /* Very dark (mostly black) */
  --color-bg-gradient: #241c2b;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: inherit;
}
