@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --color-main-grayish_blue: hsl(237, 18%, 59%);
  --color-main-soft_red: hsl(345, 95%, 68%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-desaturated_blue: hsl(236, 21%, 26%);
  --color-neutral-dark_blue: hsl(235, 16%, 14%);
  --color-neutral-black_blue: hsl(234, 17%, 12%);

  --font: 'Red Hat Text', sans-serif;
}