@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

#root {
  --color-primary-blue: hsl(237, 18%, 59%); /* Grayish blue */
  --color-primary-red: hsl(345, 95%, 68%); /* Soft red */
  --color-neutral-white: hsl(0, 0%, 100%); /* White */
  --color-neutral-blue: hsl(236, 21%, 26%); /* Dark desaturated blue */
  --color-neutral-darkBlue: hsl(235, 16%, 14%); /* Very dark blue */
  --color-neutral-blackBlue: hsl(234, 17%, 12%); /* Very dark (mostly black) */
  --color-bg-gradient: hsl(272, 21%, 14%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
